$primary_color: #A75813;
$secondary_color: #fff;

@mixin size($x) {
    width: $x;
}

@mixin marLeft($m) {
    margin-left: $m;
}

@mixin borRad($b) {
    border-radius: $b;
}

body {
    margin: 0;
    padding: 0;
    nav {
        position: absolute;
        left: 0;
        top: 0;
        ul {
            font-family: 'DM Mono', monospace;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
           
            li {
                background-color: $primary_color;
                text-align: right;
                transition: .5s;
                display: inline-block;
                &:hover {
                    @include marLeft(0);
                }
                &.five {
                    @include borRad(0 0 10px 0);
                }
                &.one {
                    @include borRad(0 10px 0 0);
                }
                &.five:hover {
                    @include borRad(0);
                    a {
                        @include marLeft(-5px);
                    }
                }
                &.four:hover {
                    a {
                        @include marLeft(-20px);
                    }
                }
                &.three:hover {
                    a {
                        @include marLeft(0px);
                    }
                }
                &.two:hover {
                    a {
                        @include marLeft(-20px);
                    }
                }
                &.one:hover {
                    @include borRad(0);
                    a {
                        @include marLeft(-30px);
                    }
                }
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $secondary_color;
                    display: inline-block;
                    @include size(120px);
                    @include marLeft(-84px);
                    transition: .4s;
                    i {
                        padding: 10px;
                    }
                }
            }
        }
    }
}